<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start" (click)="back()">
          <ion-button>
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>{{main_title.title}}</h4>
      </div>
      <div class="main-icon-outer"></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="main-menu-img">
    <ion-card class="image-card">
      <img alt="Silhouette of mountains" [src]="menu_details.img" />
    </ion-card>
    <div class="content-outer">
      <h5 class="heading poppins semibold">{{menu_details.title}}</h5>
      <p class="subheading poppins medium">{{menu_details.desc}}</p>

      <div class="price-box" *ngFor="let item of menu_details.type">
        <div class="single-box-price">
          <div class="price-text poppins semibold">{{item.name}}</div>
          <div class="mid-line-box">
            <div class="line43"></div>
          </div>
          <div class="price-rate">
            <ion-text color="primary">{{item.prize}}</ion-text>
          </div>
        </div>
      </div>

      <ion-button
        shape="round"
        color="secondary"
        class="adc-btn volvo"
        (click)="addToCart()"
      >
        ADD TO CART
      </ion-button>

      <div class="menu-items-outer">
        <h5 class="heading poppins semibold">Related Items</h5>
        <app-menu-list-items [limit]="3"></app-menu-list-items>
      </div>
    </div>
  </div>
</ion-content>
