.ibox-inputs.signup {
  display: flex;
  flex-direction: column;
  app-icon-input-box {
    flex: 1;
    padding: 10px 0;
  }
}

.login-component-heading {
  font-size: 14px;
  margin-bottom: 23px;
}
.fp-box-outer {
  height: 40px;
  width: 100%;
  //   background: yellow;
  position: relative;
  .fp-link {
    color: var(--ion-color-primary);
    border-bottom: 1px solid var(--ion-color-primary);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
  }
}
.b-button-outer {
  width: 100%;
  margin-top: 21px;
  margin-bottom: 34px;
}
.or-div {
  font-size: 18px;
}
.cont-div {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 22px;
}

.dnt-div {
  margin-top: 100px;
}

.f-pop-li {
  color: #000000;
  font-size: 13px;
}

.f-pop-m {
  font-size: 13px;
}

.label-box-58 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
