<div class="home-slider-outer">
  <div class="main-slider">
    <swiper class="swiper-outer" #swiper>
      <ng-template swiperSlide class="swiper-inner" *ngFor="let item of slides">
        <div
          class="content-outer slider-cover-background"
          [style.background]="'url(' + item.image + ')'"
        >
          <div class="shade-box"></div>
          <div class="text-box">
            <div class="heading-2633 volvo">FAN CLUB</div>
            <div class="subheading-2633">
              Join our Fan Club now to represent Grab N Go Tacos as our Number
              #1 Fan and get first-access to all of our monthly promotional
              discounts at our stores.
            </div>
            <ion-button class="volvo btn-32635" size="small" shape="round"
              >JOIN NOW</ion-button
            >
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
