.menu-list-items-outer {
  // border: 1px solid red;
  width: 93%;
  margin: auto;
  .menu-list-item {
    // border: 1px solid red;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    // background: blue;
    height: 124px;
    padding: 10px;
    background: white;
    border-radius: 12px;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
    .image-outer-box {
      // border: 1px solid red;

      width: 104px;
      //   background: yellow;
      border-radius: 10px;
      overflow: hidden;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }
    .text-box-outer {
      // border: 1px solid red;
      //   background: gray;
      height: 100%;
      width: calc(100% - 104px);

      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 10px;

      .text-box-inner {
        .heading-544 {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .price-line-544 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: calc(50%);
          .pl-box-255 {
            font-size: 10px;
          }
          .pl-box-256 {
            font-size: 10px;
          }
        }
      }
      .quantity-outer {
        // border: 1px solid red;
        margin-left: 60px;
        width: 30px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .quantity-main {
          // border: 1px solid red;
          margin-top: 20px;
          width: 30px;
          height: 82px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-content: space-evenly;
          font-size: 15px;
          font-weight: light;
          color: #8dc73d;
          .quantity {
            // background: red;
            height: 25px;
            width: 20px;
            font-size: 10px;
            border: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #004d22;
            border-radius: 4px;
            color: #8dc73d;
          }
        }
      }
    }
  }
}
