<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>Checkout</h4>
      </div>
      <div class="combined-icons">
        <div class="shop-icon-outer">
          <img src="assets/icons/bell-small.svg" />
        </div>
        <div class="bell-icon-outer">
          <img src="assets/icons/cart-small.svg" />
        </div>
      </div>
    </div>

  </div>
</ion-header>
<ion-content>
  <div class="info-cards">
    <div class="card-heading volvo">{{ shippingAddress.title }}</div>

    <div class="b-item-outer-45">
      <div class="text-box">
        <div class="heading poppins medium">{{ shippingAddress.name }}</div>
        <div class="subheading poppins">
          <ion-text class="lines">{{ shippingAddress.line1 }}</ion-text>
          <ion-text class="lines">{{ shippingAddress.line2 }}</ion-text>
          <ion-text class="lines">{{ shippingAddress.line3 }}</ion-text>
        </div>
      </div>
      <div class="edit-icon">
        <div class="edit-image">
          <img [src]="shippingAddress.icon" />
        </div>
      </div>
    </div>

    <div class="card-heading volvo">{{ paymentMethod.title }}</div>
    <div class="b-item-outer-46">
      <div class="text-box">
        <div class="card-icon">
          <div class="card-image">
            <img [src]="paymentMethod.img" />
          </div>
        </div>
        <div class="heading poppins medium">{{ paymentMethod.card_name }}</div>
      </div>
      <div class="edit-icon">
        <div class="edit-image">
          <img [src]="paymentMethod.icon" />
        </div>
      </div>
    </div>
  </div>

  <div class="info-cards">
    <div *ngFor="let item of obje" [hidden]="item.list.length == 6">
      <div class="card-heading volvo">
        Items <ion-badge color="primary">{{ item.list.length }}</ion-badge>
      </div>
      <app-menu-list-items [list]="item.list"></app-menu-list-items>
    </div>
  </div>

  <div class="bn765">
    <div class="checkout">
      <div class="checkout-price-main">
        <div class="checkout-price">
          <ion-text class="price-total poppins">{{
            totalPrice.title
          }}</ion-text>
          <ion-text class="price-rate volvo">
            {{ totalPrice.total_price }}
          </ion-text>
        </div>
        <ion-button
          (click)="openCheckout()"
          shape="round"
          color="secondary"
          class="checkout-button volvo"
        >
          Place Order
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
