
<ion-header>
    <div class="b-header-output">
      <div class="b-header-main">
        <div class="menu-icon-outer">
          <ion-buttons slot="start" (click)="back()">
            <ion-button>
              <ion-icon color="light" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <h4>Merchandise</h4>
        </div>
        <!-- <div class="main-icon-outer"></div> -->
        <div class="combined-icons">
          <div class="shop-icon-outer">
            <img src="assets/icons/bell-small.svg" />
          </div>
          <div class="bell-icon-outer">
            <img src="assets/icons/cart-small.svg" />
          </div>
        </div>
      </div>
    </div>
  </ion-header>
<ion-content class="ion-padding">
<app-products-item  *ngFor="let item of [1,2,3,4]" (click)="openDetails()"></app-products-item>
</ion-content>
