<div class="main">
  <ion-button shape="round" (click)="gotoNewsReviews()">LEAVE US A REVIEW</ion-button>
  <div class="content">
    <div class="review-main" *ngFor="let item of [1,2,3,4,5]">
      <div class="user">
        <div class="img">
          <img src="../../../../../assets/svgs/user.svg" />
        </div>
        <div class="name">
          <div class="name-sec">
            <div>Charlotte</div>
            <ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon
              name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon>
          </div>
          <div class="time">4 Hours ago</div>
        </div>
      </div>
      <div class="reviw-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur fugit iste optio eius praesentium
        est accus Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, repudiandae.

      </div>
    </div>
  </div>
</div>