.home-category-slider-box-outer {
  display: block;
  height: 195px;
  background: white;
  width: 100%;
  .category-slider-outer {
    width: 100%;
    height: 100%;
    background: rgba(158, 158, 158, 0.06);
    border-radius: 20px 20px 0 0;
    padding: 20px;
    .heading {
      font-size: 20px;
      text-align: center;
      margin-bottom: 12.5px;
    }
    .item-box-outer {
      width: 140px;
      height: 125px;
      // background: pink;

      display: flex;
      flex-direction: column;

      .image-box {
        width: 100%;
        height: 85px;
        // background: red;
        overflow: hidden;
        border-radius: 10px;
        // background-size: cover;
        // background-position: center center;
        // background-repeat: no-repeat;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-box {
        width: 100%;
        // height: 85px;
        // background: blue;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        ion-icon {
          color: var(--ion-color-primary);
          margin-right: 7px;
        }
        .top-heading {
          font-size: 9px;
        }
        .loc-heading {
          font-size: 9px;
        }
        .phn-heading {
          font-size: 7px;
        }
      }
    }
  }
}
