<div class="home-category-slider-box-outer">
  <div class="category-slider-outer">
    <div class="heading volvo">Our Taco Shops</div>
    <swiper [config]="config" class="swiper-outer" #swiper>
      <ng-template swiperSlide class="swiper-inner" *ngFor="let item of slides">
        <div class="item-box-outer">
          <div class="image-box">
            <!-- [style.background]="'url(' + item.image + ')'" -->
            <img [src]="item.image" />
          </div>
          <div class="text-box">
            <div class="top-heading poppins semibold">{{ item.heading }}</div>
            <div class="loc-heading poppins">
              <ion-icon name="location"></ion-icon>{{ item.location }}
            </div>
            <div class="phn-heading poppins semibold">
              <ion-icon name="call"></ion-icon>{{ item.phone }}
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>
