*
{
    margin: 0;
    padding: 0%;
}
.col-md-6{
        width: 335px;
        height: 137px;
        background-color: #FFFFFF;
        box-shadow: 0 3px 8px -5px;
        border-radius: 12px;
        border: 0px solid #707070;
        font-size:10px;
        margin: 20px 20px 10px 30px;
        padding:20px;
    
}
.col-md-2 img
{
    width: 120px;
    height: 104px;
    border-radius: 5px;
}
.col-md-3 h5
{
    font-size: 12px;
    float: right;
    margin-top: -100px;
    margin-right: 20px;
}
.col-md-3 p
{
    font-size: 12px;
    float: right;
    margin-top: -60px;
    margin-right: 70px;
}
.col-md-3 img
{
    font-size: 12px;
    float: right;
    margin-top: -25px;
    margin-right: 0px;
}