.home-category-slider-outer {
  width: 100%;
  height: 175px;
  //   background: pink;
  padding: 0 20px;
  .category-slider-outer {
    width: 100%;
    //   background: blue;
    height: 100%;
  }
  .item-box-outer {
    width: 92px;
    height: 170px;
    //   background: yellow;
  }

  .item-box-inner.active {
    background: #063b00 !important;
    filter: drop-shadow(0px 15px 10px lightgray);
    .text-outer {
      ion-text.text-inner {
        color: #ffffff;
      }
    }
  }
  .item-box-inner {
    width: 92px;
    height: 137px;
    background: #f7f7f7;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .image-outer {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #ffffff;
      margin: 8px auto;

      position: relative;
      .image-n65 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-position: center center !important;
        background-size: 50px !important;
        background-repeat: no-repeat !important;
      }
    }
    .text-outer {
      height: 22px;
      width: 70px;
      margin: 0 auto;
      overflow: hidden;
      // background: yellow;
      position: relative;
      ion-text.text-inner {
        font-size: 8px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //   background: pink;
      }
    }
  }
}
.swiper-outer {
  // background-color: red;
  padding: 0;
  overflow: visible;
}

* {
  font-family: Poppins;
}
