<div class="main">
  <div class="product-img-outer">
    <div class="product-img"></div>
  </div>
  <div class="content">
    <div class="name-outer">
      <div class="name Poppins">Grab N Go Tacos Retro Tee</div>
      <div class="price Poppins ">$16.76 - $21.30</div>
    </div>
    <div class="selection-outer">
      <span class="title poppins.medium">Availibility: In Stock</span>
      <div class="selection-main">
        <div class="colors">
          <div class="header">
            <span class="Poppins">Colors</span>
            <select class="selector">
              <option>Brown</option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="footer">
            $16.76
          </div>
        </div>
        <div class="sizes">
          <div class="header">
            <span class="Poppins">Sizes</span>
            <select class="selector">
              <option>Large</option>
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
          <div class="footer">
            <div class="quantity">
              +
              <div>1</div>
              -
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <ion-button class="google" shape="round">BUY WITH     <img src="../../../../../assets/svgs/googlelogo.svg"/></ion-button>
      <ion-button class="addtocart" color="danger" shape="round">ADD TO CART</ion-button>
  
      <div>SKU: 1734567654333456545 Catogeries customers; Uncategorieszed Description</div>
    </div>
  </div>
</div>