@font-face {
  font-family: "Volvo";
  src: url("./../assets/fonts/Volvo\ Broad\ Pro\ Digital.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("./../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsMedium";
  font-style: normal;
  src: url("./../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "PoppinsSemibold";
  font-style: normal;
  src: url("./../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "VolvoBroadProDigital";
  font-style: normal;
  src: url("./../assets/fonts/Volvo Broad Pro Digital.ttf");

}
.VolvoBroadProDigital{
  font-family: "VolvoBroadProDigital";
}
.volvo {
  font-family: "Volvo";
}

.poppins {
  font-family: "Poppins";
}

.poppins.medium {
  font-family: "PoppinsMedium";
}

.poppins.semibold {
  font-family: "PoppinsSemibold";
}
