
.ma-list-698756{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}


.notification-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 16px;
    // background: rgba(141,199,61,0.1);
    
    height: 98px;
    .image-box-outer{
        height: 98px;
        width: 98px;
        // background: blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .image-box{
            height: 70px;
            width: 70px;
            border-radius: 50% ;
            border: 3px solid #ffffff;
            background: #ffffff;
            filter: drop-shadow(0 2px 5px rgba(0,0,0,0.16));
        }
    }
    .label-box-outer{
        
        width: calc(100% - 108px);
        display: flex;
        flex-direction: column;
        justify-content: center;        
        .heading-outer{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .heading{
                font-size: 12px;
            }
            .date-outer{
                font-size: 8px;
            }            
        }
        .content-outer{
            font-size: 8px;
            overflow: hidden;
        }        
    }

}
