<ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>cart</h4>
      </div>
      <div class="main-icon-outer"></div>
      <div class="combined-icons">
        <div class="shop-icon-outer">
          <img src="assets/icons/cart-small.png" />
        </div>
        <div class="bell-icon-outer">
          <img src="assets/icons/bell-small.png" />
        </div>
      </div>
    </div>
  </div>
</ion-header>
<app-cart-list-item></app-cart-list-item>
