<!-- <ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button>
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>cart</h4>
      </div>
      <div class="main-icon-outer"></div>
    </div>
  </div>
</ion-header> -->
<ion-content>
  <swiper class="swiper-outer" #swiper>
    <ng-template swiperSlide class="swiper-inner">
      <app-cc-cart-slide
        (toCheckout)="toCheckout(1)"
        (toOut)="toOut(1)"
      ></app-cc-cart-slide>
    </ng-template>
    <ng-template swiperSlide class="swiper-inner">
      <app-cc-checkout-slide
        (toCheckout)="toCheckout(2)"
        (toOut)="toOut(2)"
      ></app-cc-checkout-slide>
    </ng-template>
    <ng-template swiperSlide class="swiper-inner">
      <app-cc-payment-slide
        (toCheckout)="toCheckout(3)"
        (toOut)="toOut(3)"
      ></app-cc-payment-slide>
    </ng-template>
    <ng-template swiperSlide class="swiper-inner">
      <app-cc-result-slide (toCheckout)="toCheckout(4)"></app-cc-result-slide>
    </ng-template>
  </swiper>
</ion-content>
