<ion-header>
  <ion-toolbar color="tertiary">
    <app-base-header></app-base-header>
  </ion-toolbar>
  <ion-toolbar color="tertiary" [class.curve-toolbar]="activeIndexId != 1">
    <ion-searchbar color="light" class="curve-searchbox"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- 
  <ion-list>
    <ion-item
      *ngFor="let item of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9, ]"
    >
      A
    </ion-item>
  </ion-list> -->

  <ion-router-outlet></ion-router-outlet>

  <app-home-switcher
    (activeIndex)="activeIndex($event)"
    class="page-switcher"
  ></app-home-switcher>
</ion-content>
