.page-switcher {
  height: 74px;
  width: 100%;
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.bottom-offset {
  // --offset-bottom: 100% !important;
  margin-bottom: 500px;
}
