
  <div class="main">
    <div class="catering-para Poppins">
      <p>
        Grab N Go Tacos would be delighted to cater your next event or party with our awesome Tacos. Please review the
        below list of some of most popular catering options and then either contact the store or fill out the online form
        below to get your catering order started.
      </p>
    </div>

    <div class="accordian-overview">
      <app-catering-dropdown *ngFor="let item of [1,2,3,4]"></app-catering-dropdown>

    </div>

    <div class="select-tacos">
      <span class="Poppins-medium">Whic of our Tacos Shapes did you visit?</span>
      <select class="selector">
        <option class="option">Spring</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
    <div class="yes-no">
      <span class="Poppins-medium">Did You our Cashierolor sit amet consec ipsum dolor sit amet consectetur adipisicing elit. Enim, hic!</span>
      <div class="checkbox">
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Yes</ion-label>
        </div>
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>No</ion-label>
        </div>
      </div>
    </div>
    <div class="yes-no">
      <span class="Poppins-medium"> Did You our Cashierolor sit amet cque, amet?</span>
      <div class="checkbox">
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Yes</ion-label>
        </div>
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>No</ion-label>
        </div>
      </div>
    </div>
    <div class="yes-no">
      <span class="Poppins-medium">Did You our Cashier have their</span>
      <div class="checkbox">
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Yes</ion-label>
        </div>
        <div class="input">
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>No</ion-label>
        </div>
      </div>
    </div>
    <div class="ion-label">
      <ion-label id="profile_image" class="Poppins" color="primary" stacked>Please Select 1MB Image | File Type: png, jpg skdaslkdjaskldj adkjalskdjalskdja;slkdj</ion-label>
    </div>
    <div class="select-order">
      <span class="Poppins-medium">Whic of our Tacos Shapes did you visit?</span>
      <select class="selector">
        <option class="option">In Stiore Dine-In</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
    
    <div class="name">
      <span class="Poppins-medium">Location Map</span>
      <input placeholder="location " class="selector" />
    </div>

    <div class="select-order">
      <span class="Poppins-medium">Whic of our Tacos Shapes did you visit?</span>
      <select class="selector">
        <option class="option">In Stiore Dine-In</option>
        <option>1</option>
        <option>1</option>
        <option>1</option>
      </select>
    </div>
   
    <div class="tell-us">
      <span class="Poppins-medium">When did your Order?</span>
      <textarea class="input Poppins" placeholder="Typing...."></textarea>
    </div>


    <div class="name">
      <span class="Poppins-medium">Location Map</span>
      <input type="date" placeholder="location " class="selector" />
    </div>

    <div class="select-time">
      <span class="Poppins-medium">When did your Order?</span>
      <div class="inputs">
        <input class="input Poppins" placeholder="HH" />
        <input class="input Poppins" placeholder="MM" />
        <select class="m">
          <option class="option Poppins">AM</option>
          <option>PM</option>
        </select>
      </div>
    </div>

    
    <div class="name">
      <span class="Poppins-medium">Location Map</span>
      <input type="date" placeholder="location " class="selector" />
    </div>
    <div class="ion-label">
      <ion-label id="profile_image" color="primary" class="Poppins" stacked>Please Select 1MB Image | File Type: ;slkdj</ion-label>
    </div>
   
    <div class="name">
      <span class="Poppins-medium">Who can we contact to submit our Catering Proposal?</span>
      <input placeholder="Name: " class="selector" />
      <input placeholder="Phone: " class="selector" />
      <input placeholder="Email: " class="selector" />

    </div>
    <div class="button">
      <ion-button class="volvo" shape="round" color="primary">SUBMIT YOUT CATERING REQUEST NO</ion-button>
    </div>
  </div>

