<!-- <ion-header>
  <div class="b-header-output">
    <div class="b-header-main">
      <div class="menu-icon-outer">
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon color="light" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h4>cart</h4>
      </div>
      <div class="main-icon-outer"></div>
    </div>
  </div>
  </ion-header> -->
  <ion-header>
    <div class="b-header-output">
      <div class="b-header-main">
        <div class="menu-icon-outer">
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
              <ion-icon color="light" name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <h4>Cart</h4>
        </div>
        <div class="combined-icons">
          <div class="shop-icon-outer">
            <img src="assets/icons/bell-small.svg" />
          </div>
          <div class="bell-icon-outer">
            <img src="assets/icons/cart-small.svg" />
          </div>
        </div>
      </div>
    </div>
  </ion-header>
<ion-content>
  <app-cart-list-item></app-cart-list-item>
  <div class="bn765">
    <div class="checkout-outer">
      <div class="apply-code-main">
        <div class="apply-code">
          <ion-item class="input">
            <ion-input placeholder="Add promo code"></ion-input>
          </ion-item>
          <ion-buttons slot="start">
            <ion-button class="button volvo"> APPLY CODE </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
    <div class="checkout">
      <div class="checkout-price-main">
        <div class="checkout-price">
          <ion-text class="price-total poppins">TOTAL</ion-text>
          <ion-text class="price-rate volvo"> $14.97 </ion-text>
        </div>
        <ion-button
          (click)="openCheckout()"
          shape="round"
          color="secondary"
          class="checkout-button volvo"
        >
          CHECKOUT
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
