ion-content {
  font-family: poppins;
}
.b-header-output {
  display: block;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #004d22;
}
.menu-icon-outer h4 {
  color: white;
  margin-top: 10px;
  font-size: 22px;
}
.main-menu-img {
  padding: 5px;
}
.main-menu-img img {
  padding: 15px;
}
.main-menu-img h5 {
  font-weight: 700 !important;
}
.b-header-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  // height: 50px;
  justify-content: space-between;
  padding: 16px 16px;
  align-items: center;
}

.menu-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .menu76 {
    margin-right: 16px;
  }
}
.shop-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: block;
  margin-right: 8px;
}
.bell-icon-outer {
  position: relative;
  //   width: 50px;
  // height: 50px;
  display: block;
}
.combined-icons {
  // width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 21px;
}
.image-card {
  margin: 20px !important;
}
.content-outer {
  margin: 0 20px !important;
  .heading {
    font-size: 18px;
  }
  .subheading {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .adc-btn {
    font-size: 14px;
  }

  .bn765 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .price-box {
    .single-box-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
      .price-text {
        font-size: 12px;
      }
      .price-rate {
        font-size: 12px;
      }
      .mid-line-box {
        position: relative;
        background: yellow;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        .line43 {
          position: relative;
          width: 100%;
          height: 100%;
          background: yellow;
        }
        .line43:after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 0;
          right: 0;
          height: 1px;
          border-bottom: 2px dotted var(--ion-color-primary); /*change these values to suit your liking*/
        }
      }
    }
  }
}
.checkout-outer {
  border-top: 1px solid lightgray;
  padding: 20px 0;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  //   margin-bottom: 250px;
  .apply-code-main {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100px;
  }
  .apply-code {
    width: 100%;
    margin-top: 30px;
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    // background: yellow;
    .input {
      width: 60%;
      border-radius: 30px;
      font-size: 12px;
      border: 1px solid #f1f1f1;
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
    }
    .button {
      width: 120px;
      height: 43px;
      border-radius: 30px;
      border: 1px solid lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #8dc73d;
      color: white;
      font-size: 14px;
    }
  }
}
.checkout {
  // border: 1px solid red;
  // background: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  margin-bottom: 100px;

  .checkout-price-main {
    width: 100%;
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .checkout-button {
    font-size: 16px;
    width:145px;

  }
  .checkout-price {
    // border: 1px solid red;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .price-total {
      font-size: 12px;
    }
    .price-rate {
      font-size: 30px;
    }
  }
}
