<form [formGroup]="aForm">
  <div class="poppins medium login-component-heading">Enter Email To Reset</div>
  <div class="ibox-inputs">
    <app-icon-input-box
      [leftIcon]="'mail'"
      [placeholder]="'Email Address'"
    ></app-icon-input-box>
  </div>
  <div class="b-button-outer">
    <ion-button
      class="volvo b-button"
      shape="round"
      expand="block"
      (click)="gotoDashboardEvent()"
    >
      SEND
    </ion-button>
  </div>

  <div class="dnt-div">
    <div class="label-box-58" (click)="gotoSignupEvent()">
      <ion-text class="f-pop-li poppins" style="margin-right: 5px">
        Don't Have an Account?<br />
      </ion-text>
      <ion-text class="sign1 f-pop-m poppins semibold" color="primary"
        >Sign Up</ion-text
      >
    </div>
  </div>
  <!--  -->
</form>
